
@{
    ViewBag.Title = "Gerenciador";
    Layout = "~/Views/Shared/LayoutDM.cshtml";
}

<h1>Gerenciador</h1><br>
<div class="content-wrapper">
    <nav class="nav-wrapper" >
      <a href="~/Gerenciador/Diretorio" style="font-size:20px;"> Gerenciar login</a>
    </nav> <br>
    <nav class="nav-wrapper">
        <a href="~/Gerenciador/Diretorio" style="font-size:20px;"> Gerenciar Diretorios</a>
    </nav>


</div>
